@import "tailwindcss";

@layer base {
  body {
    @apply bg-white font-sans text-lg text-neutral-500;
  }
  h1 {
    @apply my-6 text-4xl font-semibold tracking-tight text-black;
  }
  h2 {
    @apply mt-4 text-3xl font-semibold tracking-tight text-black;
  }
  h3 {
    @apply mt-4 text-2xl font-semibold tracking-tight text-black;
  }
  p {
    @apply mt-4 leading-snug;
  }
  ul {
    @apply mt-4 list-inside list-disc;
  }
  ol {
    @apply mt-4 list-inside list-decimal;
  }
  blockquote {
    @apply mt-4 border-l-2 border-neutral-300 pl-4;
  }
  img,
  video {
    @apply mt-4 rounded-lg border border-neutral-200;
  }
  strong {
    @apply font-semibold;
  }
  em {
    @apply italic;
  }
  a {
    @apply text-blue-500 underline-offset-2 hover:text-blue-700 hover:underline;
  }
  :not(pre) > code {
    @apply rounded border border-neutral-300 bg-neutral-200/50 px-1 py-0.5 font-mono text-sm font-medium text-neutral-700;
  }
  pre:has(code) {
    @apply my-6 overflow-auto rounded-lg border border-neutral-300 p-4 font-mono text-sm font-medium;
  }
  kbd {
    @apply rounded-md border border-b-2 border-neutral-200 bg-neutral-100 px-1 py-0.5 font-mono text-xs text-neutral-700;
  }
  mark {
    @apply bg-yellow-200;
  }
}
