---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class="mx-auto flex h-[calc(100svh-40px)] max-w-sm flex-col justify-center gap-4 p-4"
  >
    <p>
      Hi, I'm Nicholas Ly. I'm a software engineer, writer, and open source
      enthusiast.
    </p>
    <p>
      I currently work at <a
        href="https://vervint.com/"
        target="_blank"
        class="text-blue-500 underline">Vervint</a
      >, where my main focus is building high quality, performant, and
      accessible websites for clients.
    </p>
    <ul class="mt-4 text-sm">
      <li>
        Send me an email: <a
          href="mailto:nichdly@gmail.com"
          class="text-blue-500 underline">nichdly@gmail.com</a
        >
      </li>
      <li>
        Follow me on Github: <a
          href="https://github.com/nicholasdly"
          target="_blank"
          class="text-blue-500 underline">nicholasdly</a
        >
      </li>
      <li>
        Follow me on Twitter: <a
          href="https://twitter.com/nichdly"
          target="_blank"
          class="text-blue-500 underline">@nichdly</a
        >
      </li>
    </ul>
  </main>
</Layout>
