---
import { formatDate } from "../lib/utils";

interface Props {
  date: Date;
}

const { date } = Astro.props;
---

<footer class="mt-8 flex items-center justify-between">
  <span class="text-lg text-gray-500">— Nicholas Ly</span>
  <span class="text-lg text-gray-500">{formatDate(date)}</span>
</footer>
