<header class="flex justify-between">
  <nav class="flex gap-6">
    <a href="/">home</a>
    <a href="/blog">blog</a>
  </nav>
  <div>
    <a class="text-neutral-400" href="https://x.com/nichdly">@nichdly</a>
  </div>
</header>
