<header transition:name="header">
  <nav class="space-x-4">
    <a href="/">home</a>
    <a
      href="https://www.linkedin.com/in/nicholasdly/"
      target="_blank"
      rel="noopener noreferrer">linkedin</a
    >
    <a
      href="https://github.com/nicholasdly"
      target="_blank"
      rel="noopener noreferrer">github</a
    >
    <a href="https://x.com/nichdly" target="_blank" rel="noopener noreferrer"
      >twitter</a
    >
  </nav>
</header>

<style>
  a {
    @apply text-gray-500 hover:text-gray-800;
  }
</style>
