---
import { getCollection } from "astro:content";

function formatDate(date: Date) {
  return Intl.DateTimeFormat("en-US", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
  }).format(date);
}

const blog = await getCollection("blog");
const posts = blog
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

{
  posts.length > 0 ? (
    <ul class="list-none space-y-1">
      {posts.map((post) => (
        <li class="flex items-baseline">
          <span class="w-21 text-sm">
            {formatDate(post.data.date)}
          </span>
          <a class="text-lg lowercase" href={`/blog/${post.id}`}>
            {post.data.title}
          </a>
        </li>
      ))}
    </ul>
  ) : (
    <p class="text-neutral-400">there's nothing here yet.</p>
  )
}
